<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="col-xs-12 text-center beta-note">
					Welcome to the lander8 beta. As things may be innacurate or broken, if you see something wrong, please
					<a href="javascript:void(0);" id="report-bug">report it here.</a> If you have any feature requests or suggestions, <a href="javascript:void(0);" id="contact">contact us.</a>
				</p>
			</div>
			<h1 class="col-xs-12">Analytics Dashboard</h1>
		</div>
		<ul class="nav nav-tabs sites">
			<% current_user.websites.each_with_index do |website, index| %>
				<li role="presentation" <%= index == 0 ? 'class=active' : '' %> data-website="<%= website.name %>"><a href="javascript:void(0);"><%= website.name %></a></li>
			<% end %>
		</ul>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12 data-container">
					<div class="col-xs-3 navigation-left">
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" id="salesChartShow" class="active"><a href="javascript:void(0);">Sales</a></li>
							<li role="presentation" id="siteTrafficChartShow"><a href="javascript:void(0);">Site Traffic</a></li>
							<li role="presentation" id="conversionChartShow"><a href="javascript:void(0);">Conversions</a></li>
						  <li role="presentation"><a href="javascript:void(0);">Social Media</a></li>
						</ul>
					</div>
					<div class="col-xs-9 col-xs-offset-3">
						<div class="row">
							<div class="chart-nav sales active"><%= render 'analytics/charts/sales' %></div>
							<div class="chart-nav site-traffic"><%= render 'analytics/charts/site_traffic' %></div>
							<div class="chart-nav conversions"><%= render 'analytics/charts/conversions' %></div>
							<div class="col-xs-12 chart-12" id="salesChart">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 stats">
				<h4>Quick Stats</h4>

				<div class="col-xs-2 text-center stat">
					<h1 class="row"><%= @stats[:orders_today] %></h1>
					<h4 class="row">Orders Today</h4>
				</div>
				<div class="col-xs-2 text-center stat">
					<h1 class="row"><%= @stats[:orders_this_week] %></h1>
					<h4 class="row">Orders This Week</h4>
				</div>
				<div class="col-xs-2 text-center stat">
					<h1 class="row"><%= @stats[:orders_this_month] %></h1>
					<h4 class="row">Orders This Month</h4>
				</div>
				<div class="col-xs-2 text-center stat">
					<h1 class="row"><%= @stats[:views_today] %></h1>
					<h4 class="row">Views Today</h4>
				</div>
				<div class="col-xs-2 text-center stat">
					<h1 class="row"><%= @stats[:views_this_week] %></h1>
					<h4 class="row">Views This Week</h4>
				</div>
				<div class="col-xs-2 text-center stat">
					<h1 class="row"><%= @stats[:views_this_month] %></h1>
					<h4 class="row">Views This Month</h4>
				</div>
			</div>
		</div>
	</div>
</div>