<!DOCTYPE html>
<html>
  <head>
    <title>Lander8</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <% if Rails.env.production? %>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% else %>
    	<%= stylesheet_link_tag    'bootstrap.min.css' %>
    	<%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <% end %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='root'></div>
    <script src="http://localhost:8000/webpack-dev-server.js"></script>
    <script type="text/javascript" src="http://localhost:8000/static/bundle.js"></script>
  </body>
</html>
